* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

input[type=submit], select {
    padding: 3px;
}